<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftRestModel3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C37A0841D9E5EEE00096DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C37A09B1D9E5EF700096DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C37A0A61D9E5EF700096DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
